# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.mo

# -----------------------
# Virtualenv
# -----------------------
.venv/
venv/
env/

# -----------------------
# Node / Tailwind 
# -----------------------
node_modules/
theme/static_src/node_modules/
theme/static/css/dist/

# -----------------------
# Git
# -----------------------
.git
.gitignore

# -----------------------
# IDE / Editor
# -----------------------
.idea
.vscode
.project
.pydevproject
.DS_Store

# -----------------------
# Logs / Cache
# -----------------------
*.log
.cache
logs/

# -----------------------
# Build / Dist
# -----------------------
dist/
build/
*.egg-info

# -----------------------
# Docker / Local Data
# -----------------------
data/postgres/
data/web/

# -----------------------
# Env files (segurança)
# -----------------------
.env
dotenv_files/.env

# -----------------------
# Misc
# -----------------------
*.sql.gz
*.db
*.css.map
.sass-cache
.vagrant/
__localcode/
stats/