<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'catalog/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Sinalario</title>
</head>

<body>

    {% include 'catalog/partials/menu.html' %}  <!-- SEM estar dentro de um block -->

    {% block header %}
        {% include 'catalog/partials/header.html' %}
    {% endblock header %}

    {% include 'catalog/partials/search.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
    </main>

    {% include 'catalog/partials/footer.html' %}

</body>
</html>