{% extends 'global/base.html' %}

{% block title %}Domínios{% endblock title %}

{% block header %}
    <header class="main-header-container destaque">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <span class="main-logo-text">Domínios</span>
                </a>
            </h1>
        </div>
    </header>
{% endblock header %}

{% block content %}
  <div class="main-content-list">
  {% for i in "123"|make_list %}
    <div class="signal signal-list-item-categorias">
      <div class="signal-cover">
        <img src="https://placehold.co/1280x720/269fe6/ffffff?text=Domínio+{{ i }}" alt="Capa do domínio {{ i }}">
      </div>
      <div class="signal-title-container">
        <h2 class="signal-title">Domínio {{ i }}</h2>
      </div>
      <footer class="signal-footer">
        <a class="signal-read-more button button-dark button-full-width"
           href="{% url 'categoria-list' dominio_id=i %}">
          <i class="fas fa-eye"></i>
          <span>Ver categorias</span>
        </a>
      </footer>
    </div>
  {% endfor %}
</div>
</div>
{% endblock content %}