{% extends 'global/base.html' %}

{%load static%}



{% block title %}Termos{% endblock title %}

{% block header %}
<header class="main-header-container destaque">
  <div class="main-header container">
    <h1>
      <a class="main-logo" href="/">
        <span class="main-logo-text">Termos</span>
      </a>
    </h1>
  </div>
</header>
{% endblock header %}

{% block content %}
<div class="main-content main-content-termos container">
  <h2 class="section-title"> {{ subcategoria.nome_subcategoria }}</h2>

  <div class="main-content-list">
    {% for termo in termos %}
      <div class="signal signal-list-item">
        <div class="signal-cover">
          {% if termo.t_imagem %}
            <img src="{{ termo.t_imagem.url }}" alt="Imagem de {{ termo.nome_termo }}">
          {% else %}
            <img src="{% static 'catalog/img/placeholder.jpg' %}" alt="Imagem não disponível">
          {% endif %}
        </div>
        <div class="signal-title-container">
          <h2 class="signal-title">{{ termo.nome_termo }}</h2>
        </div>
        <footer class="signal-footer">
          <a class="signal-read-more button button-dark button-full-width"
          href="{% url 'sinal_list' termo.id_termo %}">
          <i class="fas fa-eye"></i>
          <span>Ver mais</span>
        </a>
        </footer>
      </div>
    {% empty %}
      <p>Não há termos cadastrados para esta subcategoria.</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}